<!DOCTYPE html>
	<html>

  <script src="data/malawi_zambia_boundary.js"></script>
  <script src="data/sites.js"></script>
  <script src="data/district_offsets.js"></script>
  <script src="/js/plugins/flot/jquery.flot.js"></script>
  <script src="/js/plugins/flot/jquery.flot.pie.js"></script>
  <script src="/js/plugins/flot/excanvas.min.js"></script>
  <script src="/js/d3.min.js"></script>


<style>

 .bottom-widgets{width: 20%;border: 1px solid lightblue;text-align: middle;height: 12vh;}

</style>

<table style="width: 100%;" >
	<tr>
		<td id="td-ou" colspan="2" 
			style='width: 100%;font-size: 1.5em;font-weight: bold;text-align: center;padding: 7px;
			 padding-right: 35px;border-radius: 0px; border: 1px solid lightblue;text-align: left;
			background: ghostwhite; color: darkslategray;'>
		 	All Organisation Units
		</td>
	</tr>

	<tr>
		 <td id="td-map" style="width: 35%;height: 72vh;border: 1px solid lightblue;">
			 <div id="c_district"   style="width: 100%; height: 72vh; text-align: center; float: right; margin-top: auto;">	
			  
				<canvas id="district" width="600" height="800"
					  style="height: 96%; width: 96%;float: left; border: none;margin: 8px;margin-top: 1.5%;">				
				</canvas>

			   </div>		
		  </td>

		 <td style='width: 65%;font-size: 1.35em;font-weight: bold;text-align: center;' valign="top" >
			<table style="width: 100%;" >
					<tr>
						<td id="td-pie" style='width: 50%;border: none;height: 35vh;'>
						 	
						</td>
						<td id="td-graph" style='width: 50%;border-left: 1px dotted lightblue; border-right: 1px solid lightblue;'>
                            <div id="bar-chart" style="width: 100%;height: 35vh;">
                                
                            </div>
						</td>
					</tr>

					<tr>
						 <td id="td-line-graph" colspan="2" style="width: 35%;height: 37h;border: 1px lightblue solid; border-left: none;">
                            <div id="line-chart" style="width: 100%;height: 37vh;" >
                            </div>
						  </td>
					</tr>
				</table>
		</td>
	</tr>

	<tr>
		<td colspan="2" style="width: 100%;" >
			<table style="width: 100%;" >
					<tr>
						<td class="bottom-widgets">
						 	Widget A
						</td>
						<td class="bottom-widgets">
						 	Widget B
						</td>
						<td class="bottom-widgets">
						 	Widget C
						</td>
						<td class="bottom-widgets">
						 	Widget D
						</td>
					</tr>
				</table>
		<td>
	</tr>
<table>

<script>


    function drawBoundaries(){
			var context = d3.select('#district')
				.node()
				.getContext('2d');

			var projection = d3.geoEquirectangular()
				.scale(2450)
				.translate([-935, -200]);

			var geoGenerator = d3.geoPath()
				.projection(projection)
				.context(context);

			function update(geojson) {
				context.lineWidth = 1.5;
				context.strokeStyle = '#3399CC';

				context.beginPath();
				geoGenerator({type: 'FeatureCollection', features: geojson.features})
				context.stroke();
			}

			update(geojson);
			update(geojsonFacilities)
		}		



        //Initialize and build dataSet for pie Chart
		var dataSetPie = [
		  {label: "Complete", data: 40, color: "#00A36A" },
		  { label: "Pending", data: 60, color: "#DE000F" }   
		];

        //Initialize and build dataSet for Bar Chart
        var com = 1050, mig = 189, sw = 498;
        
        //Initialize and build dataSet for Line Chart
        var dataL = [
                [1, 130], [2, 40], [3, 80], [4, 160], [5, 159], [6, 370], 
                [7, 330], [8, 350], [9, 0], [10, 0], [11, 330], [12, 50] 
            ];
            
            var datasetL = [
                {
                    label: "Total Clients Seen in a Particular Month",
                    data: dataL
                }                
            ];

		function plotPieChart(data){
			
			return $.plot('#td-pie', data, {
                series: {
                pie: {
                show: true,                
                label: {
                show:true,
                radius: 0.9,
                formatter: function (label, series) {                
                    return '<div style="border:1px solid grey;font-size:12pt;text-align:center;padding:5px;color:black;">' +
                    label + ' : ' +
                    Math.round(series.percent) +
                    '%</div>';
                },
                background: {
                    opacity: 0.8,
                    color: 'ghostwhite'
                }
            }
    		}
			}
		});
		}

    function plotBarChart(com, mig, sw){
    
        var data = [
            { data: [[0,sw]], color: "darkred", isBar: true },
            { data: [[1,mig]], color: "orange", isBar: true },
            { data: [[2,com]], color: "green", isBar: true }           
          ];
          
          return $.plot("#bar-chart", data, {       
            bars: {
                show: true,
                align: 'center',
                fill: 0.7,
                hoverable: true,
                barWidth: 0.6
            },
            lines: { 
              show: true, 
              lineWidth: 0.1, 
              fill: false 
            },
            grid: {
                borderWidth:0,
                hoverable: true,
                autoHighlight: true
            },
            xaxis: {
              ticks: [[0,'Sex Workers'],[1,'Migrants'],[2,'Community']]
            },
            yaxis: {
                min: 0,
                max: (com + 30)
            },
            legend:{
              container: '#legend'
            }
        }); 
    }

    function plotLineChart(datasetL){
        var options = {
        series: {  
                lines: {
                     show: true
                },      
                points: {
                    radius: 5,
                    show: true,
                    hoverable: true
                }            
            }
        };

        $.plot($("#line-chart"), datasetL, options);
    }

    jQuery("document").ready(function () {
    
            var c = plotPieChart(dataSetPie);
            var p = plotBarChart(com, mig, sw);
            var l = plotLineChart(datasetL);
            
            setTimeout(function(){
                drawBoundaries();
            }, 250)
            
            for(var i = 0; i < 3; i++){
                $.each(p.getData()[i].data, function(i, el){
                    var o = p.pointOffset({x: el[0], y: el[1]});
                    $('<div class="data-point-label">' + el[1] + '</div>').css( {
                        position: 'absolute',
                        left: o.left - 15,
                        top: o.top - 25,
                        display: 'none'
                    }).appendTo(p.getPlaceholder()).fadeIn('slow');
                });
            }            
    });


</script>
</html>
