<!DOCTYPE html>
	<html>

    <script src="data/mtema_boundary.js"></script>
  <script src="data/sites.js"></script>
  <script src="data/district_offsets.js"></script>
  <script src="/js/plugins/flot/jquery.flot.js"></script>
  <script src="/js/plugins/flot/jquery.flot.pie.js"></script>
  <script src="/js/plugins/flot/excanvas.min.js"></script>


<style>

 .bottom-widgets{width: 20%;border: 1px solid lightblue;text-align: middle;height: 12vh;}

</style>

<table style="width: 100%;" >
	<tr>
		<td id="td-ou" colspan="2" 
			style='width: 100%;font-size: 1.5em;font-weight: bold;text-align: center;padding: 7px;
			 padding-right: 35px;border-radius: 0px; border: 1px solid lightblue;text-align: left;
			background: ghostwhite; color: darkslategray;'>
		 	All Organisation Units
		</td>
	</tr>

	<tr>
		 <td id="td-map" style="width: 35%;height: 72vh;border: 1px solid lightblue;">
			 <div id="c_district"   style="width: 100%; height: 72vh; text-align: center; float: right; margin-top: auto;">	
			  
				<object id="district" type="image/svg+xml" data="images/mw/ll_north.svg"
					  style="height: 96%; width: 96%;float: left; border: none;margin: 8px;margin-top: 1.5%;">				
				</object>

			   </div>		
		  </td>

		 <td style='width: 65%;font-size: 1.35em;font-weight: bold;text-align: center;' valign="top" >
			<table style="width: 100%;" >
					<tr>
						<td id="td-pie" style='width: 50%;border: none;height: 35vh;'>
						 	
						</td>
						<td id="td-graph" style='width: 50%;border-left: 1px dotted lightblue; border-right: 1px solid lightblue;'>
                            <div id="bar-chart" style="width: 100%;height: 35vh;">
                                
                            </div>
						</td>
					</tr>

					<tr>
						 <td id="td-line-graph" colspan="2" style="width: 35%;height: 37h;border: 1px lightblue solid; border-left: none;">
                            <div id="line-chart" style="width: 100%;height: 37vh;" >
                            </div>
						  </td>
					</tr>
				</table>
		</td>
	</tr>

	<tr>
		<td colspan="2" style="width: 100%;" >
			<table style="width: 100%;" >
					<tr>
						<td class="bottom-widgets">
						 	Widget A
						</td>
						<td class="bottom-widgets">
						 	Widget B
						</td>
						<td class="bottom-widgets">
						 	Widget C
						</td>
						<td class="bottom-widgets">
						 	Widget D
						</td>
					</tr>
				</table>
		<td>
	</tr>
<table>

<script>


	connections = {};
    durations = {};
    radius = {};
    var refPoints = [-9.6, -17.4, 33.05, 35.98];
    var offsets = [10, 295, 10, 710];
    var up = 0;
    var down = 0;
    
    function latLon2Coord(lat, lon) {

        var x, y;

        x = ((offsets[1] - offsets[0]) * ((Math.abs(lon) - Math.abs(refPoints[2])) / (Math.abs(refPoints[3]) - Math.abs(refPoints[2]))))// + offsets[0];

        y = ((offsets[3] - offsets[2]) * ((Math.abs(lat) - Math.abs(refPoints[0])) / (Math.abs(refPoints[1]) - Math.abs(refPoints[0]))))// + offsets[2];

        return [x, y]

    }

    function insertSiteByOffset(x, y, color, id, district, village) {

        var doc = __$("district").contentDocument;

        var mw = doc.getElementById(district);

        var target = districtOffsets[district];

        var circle = document.createElementNS("http://www.w3.org/2000/svg", "circle");

        circle.setAttribute("cx", (x - target.x));
        circle.setAttribute("cy", (y - target.y));

        var r = 0.11;
        var p = 0;
        if(radius[village.replace(/\s+/g, '_').toLowerCase()]) {
            r = radius[village.replace(/\s+/g, '_').toLowerCase()][0];
            p = radius[village.replace(/\s+/g, '_').toLowerCase()][1]
        }

        if(r < 0.11){
            r = 0.11
        }

        circle.setAttribute("r", r);
        circle.setAttribute("id", id);
        circle.setAttribute("fill", color);
        circle.setAttribute("stroke-width", 0.025);
        circle.setAttribute("stroke", "rgba(0,0,0,0.7)");
        circle.setAttribute("data-tooltip", village);
        var v = village.split(/\__/);
        v = v[v.length -1 ].replace(/\_/, " ");
        circle.setAttribute("title", v.capitalize());

        circle.onmouseover = function(){
           __$("village_label").innerHTML = v.capitalize() + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; " + p + " resident(s)";
        };

        circle.onmouseout = function(){
            __$("village_label").innerHTML = "&nbsp;";
        }

        mw.appendChild(circle);

    }

    function insertSiteMarkerByOffset(x, y, color, id, district, village) {

        var doc = __$("district").contentDocument;
        var mw = doc.getElementById(district);
        var target = districtOffsets[district];

        var svgimg = document.createElementNS('http://www.w3.org/2000/svg','image');
        svgimg.setAttribute('height','2');
        svgimg.setAttribute('width','2');
        svgimg.setAttribute('z-index','2000');
        svgimg.setAttribute('id', ("pin-" + id));
        svgimg.setAttribute("visibility", "hidden");
        svgimg.setAttributeNS('http://www.w3.org/1999/xlink','href','pin.svg');
        svgimg.setAttribute('x',(x - 1.02*target.x));
        svgimg.setAttribute('y',(y - 1.005*target.y));
        mw.appendChild(svgimg);
    }

    function loadDistrictSitesByOffsets(district) {

        var target = sites_by_zones[district];

        for (var i = 0; i < target.length; i++) {

            var result = latLon2Coord(target[i]["latitude"], target[i]["longitude"])

            var colors = ["rgba(255,0,0,0.6)", "rgba(0,200,0,0.6)", "rgba(0,0,200,0.6)"];
            var vg = district.toLowerCase().replace(/\s/g, '_') + "__mtema__" +target[i]['village'].replace(/\s/g, '_').toLowerCase();

            if (!radius[vg]){
               // continue;
            }

            if(connections[vg]) {
                var pos = 1;
                up += 1;
            }else{
                var pos = 0;
                down += 1;
            }

            insertSiteByOffset((result[0] + 0.4), result[1], colors[pos], district + '_' + target[i]["facility_id"], district, vg);

        }

    }

    function loadDistrictSitesMarkerByOffsets(district) {

        var target = sites_by_zones[district];

        for (var i = 0; i < target.length; i++) {

            var result = latLon2Coord(target[i]["latitude"], target[i]["longitude"])

            var colors = ["rgba(255,0,0,0.7)", "rgba(0,200,0,0.7)", "rgba(0,0,200,0.7)"];

            var vg = district.toLowerCase().replace(/\s/g, '_') + "__mtema__" +target[i]['village'].replace(/\s/g, '_').toLowerCase();

            if(connections[vg]) {
                var pos = 1;
            }else{
                var pos = 0;
            }

            insertSiteMarkerByOffset((result[0] + 0.4), result[1], colors[pos], district + '_' + target[i]["facility_id"], district, vg);

        }

    }



    function drawBoundaries(district){
        for(var i = 0; i < mtema_coordinates.length; i++){
            var result = latLon2Coord((mtema_coordinates[i][1]),(mtema_coordinates[i][0]));
            var x = result[0];
            var y = result[1];
            var doc = __$("district").contentDocument;
            var mw = doc.getElementById(district);
            var target = districtOffsets[district];
            var circle = document.createElementNS("http://www.w3.org/2000/svg", "circle");

            circle.setAttribute("cx", (x - target.x));
            circle.setAttribute("cy", (y - target.y));
            circle.setAttribute("r", "0.03");
            circle.setAttribute("fill", "black");
            circle.setAttribute("stroke-width", 0.0005);
            circle.setAttribute("stroke", "rgba(0,0,0,0.7)");
            mw.appendChild(circle);
        }
    }

        //Initialize and build dataSet for pie Chart
		var dataSetPie = [
		  {label: "Complete", data: 40, color: "#00A36A" },
		  { label: "Pending", data: 60, color: "#DE000F" }   
		];

        //Initialize and build dataSet for Bar Chart
        var com = 1050, mig = 189, sw = 498;
        
        //Initialize and build dataSet for Line Chart
        var dataL = [
                [1, 130], [2, 40], [3, 80], [4, 160], [5, 159], [6, 370], 
                [7, 330], [8, 350], [9, 0], [10, 0], [11, 330], [12, 50] 
            ];
            
            var datasetL = [
                {
                    label: "Total Clients Seen in a Particular Month",
                    data: dataL
                }                
            ];

		function plotPieChart(data){
			
			return $.plot('#td-pie', data, {
                series: {
                pie: {
                show: true,                
                label: {
                show:true,
                radius: 0.9,
                formatter: function (label, series) {                
                    return '<div style="border:1px solid grey;font-size:12pt;text-align:center;padding:5px;color:black;">' +
                    label + ' : ' +
                    Math.round(series.percent) +
                    '%</div>';
                },
                background: {
                    opacity: 0.8,
                    color: 'ghostwhite'
                }
            }
    		}
			}
		});
		}

    function plotBarChart(com, mig, sw){
    
        var data = [
            { data: [[0,sw]], color: "darkred", isBar: true },
            { data: [[1,mig]], color: "orange", isBar: true },
            { data: [[2,com]], color: "green", isBar: true }           
          ];
          
          return $.plot("#bar-chart", data, {       
            bars: {
                show: true,
                align: 'center',
                fill: 0.7,
                hoverable: true,
                barWidth: 0.6
            },
            lines: { 
              show: true, 
              lineWidth: 0.1, 
              fill: false 
            },
            grid: {
                borderWidth:0,
                hoverable: true,
                autoHighlight: true
            },
            xaxis: {
              ticks: [[0,'Sex Workers'],[1,'Migrants'],[2,'Community']]
            },
            yaxis: {
                min: 0,
                max: (com + 30)
            },
            legend:{
              container: '#legend'
            }
        }); 
    }

    function plotLineChart(datasetL){
        var options = {
        series: {  
                lines: {
                     show: true
                },      
                points: {
                    radius: 5,
                    show: true,
                    hoverable: true
                }            
            }
        };

        $.plot($("#line-chart"), datasetL, options);
    }

    jQuery("document").ready(function () {
    
            var c = plotPieChart(dataSetPie);
            var p = plotBarChart(com, mig, sw);
            var l = plotLineChart(datasetL);
            
            setTimeout(function(){
                drawBoundaries("lilongwe");
            }, 250)
            
            for(var i = 0; i < 3; i++){
                $.each(p.getData()[i].data, function(i, el){
                    var o = p.pointOffset({x: el[0], y: el[1]});
                    $('<div class="data-point-label">' + el[1] + '</div>').css( {
                        position: 'absolute',
                        left: o.left - 15,
                        top: o.top - 25,
                        display: 'none'
                    }).appendTo(p.getPlaceholder()).fadeIn('slow');
                });
            }            
    });


</script>
</html>
