<!DOCTYPE html>
<html style="margin: 8px; padding: 0px;">
<head>
  <title>Smart-HMIS</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/sb-admin.css" rel="stylesheet">
	<link href="/css/plugins/morris.css" rel="stylesheet">
    <link href="/css/layout.css" rel="stylesheet">
    <link href="/css/layout.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/datepicker.css" rel="stylesheet">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="Kenneth Kapundi" content="Homepage for HMIS">
    <link href="/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">

  <%= csrf_meta_tags %>
  <style>
      .panel{
          border-radius: 0px !important;
      }

      .panel{
          margin-top: 0px;
          box-shadow: 7px 7px 3px #888888;
          padding: 0px;
      }

      .panel-heading{
          box-shadow: 4px 4px 3px #888888;
          margin-bottom: 10px;
      }
      .btn{
          margin: 5px;
          float: right;
          margin-top: 0px;
          margin-bottom: 0px;
      }

      img {
          user-drag: none;
          user-select: none;
          -moz-user-select: none;
          -webkit-user-drag: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          pointer-events: none;
      }
      input, select{
          box-shadow: 2px 2px 2px #ccc;
      }

      .dataTables_wrapper th{
          background: lightsteelblue;
          color: black;
          padding: 10px !important;
      }

      .dataTables_wrapper{
          margin-top: 5px;
      }
      .dataTables_filter input{
          float: right;
      }
  </style>

  <!-- /.navbar-collapse -->
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/datepicker.js"></script>

  <%=javascript_include_tag "datatables/jquery.dataTables.min" %>

</head>
<body style="margin: 0px !important;padding: 0px !important;">
    <%= yield%>
</body>



<script>

    function __$(id){
        return document.getElementById(id)
    }
</script>

</html>
